body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}

#links {
    margin-top: -15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    mix-blend-mode: multiply;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 50px;
    background-color: black;
    border-radius: 25px;
    gap: 15px;
}

#display {
    width: 800px;
    height: 200px;
    background-color: lightcyan;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 60px;
    border-radius: 25px;
}

#content {
    width: 800px;
    height: 800px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    
}

#content > button {
    width: 25%;
    height: 20%;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50px;
}

.number {
    background-color: lightgoldenrodyellow;
}

#equals {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
}

.operator {
    background-color: lightsalmon;
}

#delete, #clear {
    background-color: lightcoral;
}

